/* Estilos básicos para la aplicación */
body {
    font-family: Arial, sans-serif;
}

.card {
    margin-bottom: 20px;
}

.progress {
    margin: 20px 0;
}

#console {
    font-family: 'Courier New', monospace;
    font-size: 12px;
}

.text-muted {
    --bs-text-opacity: 1;
    color: rgb(255 255 255 / 75%) !important;
}